<%- include('.../../../paritals/header') %>
<div class="containers">
  <a href="/Course/Classroom" class="btn btn-primary">Add New Classroom</a>

  <br>
  <br>
            <div class="row">
                <h1>Classroom List</h1>
                <table class="table table-striped table-primary">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>CourseName</th>
                            <th>Standerd</th>
                            <th>Sectiom</th>
                            <th>Remarks</th>
                            <th>TeacherName</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%row.forEach(function(p){ %>
                        <tr>
                            <td><%=p.Year%></td>
                            <td><%=p.Course_id.Courser_Name%></td>
                            <td><%=p.Standerd%></td>
                            <td><%=p.Section%></td>
                            <td><%=p.remarks%></td>
                            <td><%=p.Teacher_id.Fname%> <%=p.Teacher_id.Lname%></td>

                            <td>
                            <a class="btn btn-primary btn-xs" href="/Course/editclass/<%=p._id%>"><i class="glyphicon glyphicon-edit"></i></a>
                            <a class="btn btn-danger btn-xs" href="/Course/deleteclass/<%=p._id%>"><i class="glyphicon glyphicon-trash"></i></a>
                            </td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
