<%- include('.../../../paritals/header') %>
<div class="containers">
  
  <br>
  <br>
            <div class="row">
                <h1>Student List</h1>
                <table class="table table-striped table-primary">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>FullName</th>
                            <th>Mobile_No</th>
                            <th>DOB</th>
                            <th>section</th>
                            <th>Standerd</th>
                            <th>Year</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <%row.forEach(function(p){ %>
                        <tr>
                            <td><%=p.Email%></td>
                            <td><%=p.Fname%> <%=p.Lname%></td>
                            <td><%=p.Mobile_No%></td>
                            <td><%=p.DOB%></td>
                            <td><%=p.Section%></td>
                            <td><%=p.Standerd%></td>
                            <td><%=p.Year%></td>
                           
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
